@font-face {
    font-family: CenturyGothic;
    src: url(CenturyGothic.ttf);
}

html {
	max-height: 100%;
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: CenturyGothic;
	font-weight: bolder;
}

body.image {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}

a {
    color: #FFFFFF;
    font-family: CenturyGothic;
    text-decoration: none;
    transition: color 0.2s 0.02s ease;
}

a:hover {
    color: #AA0000;
}

#logo {
	width: 500px;
	height: 500px;
	cursor: pointer;
	transition: width 0.5s 0.02s ease-in-out, height 0.5s 0.02s ease-in-out;
}

#logo.image {
	width: 200px;
	height: 200px;
}

#social {
	position: fixed;
	bottom: 1%;
	left: 1%;
	font-size: 20px;
	column-count: 1;
}

#social a {
	margin-right: 8px; 
}

/*#email {
	position: fixed;
	bottom: 1%;
	left: 1%;
	margin: -50;
	font-size: 20px;
}*/

